<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app }} - {{ version }} - {{ server }}</title>
</head>
<body>
    <h2>Welcome to {{ app }} on {{ env }}</h2>
    <p>Version: {{ version }} running on AWS Lightsail</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="/upload" enctype="multipart/form-data">
        <label for="project">Project Name:</label>
        <input type="text" id="project" name="project" required><br><br>

        <label for="well-data">Well Data (.xlsx):</label>
        <input type="file" id="well-data" name="well-data" accept=".xlsx"><br><br>
        
        <label for="survey-data">Survey Data (.xlsx):</label>
        <input type="file" id="survey-data" name="survey-data" accept=".xlsx"><br>

        <p>Optional: Attach the Target Well Information Excel spreadsheet.</p>
        <label for="target-well-information">Target Well Information (.xlsx):</label>
        <input type="file" id="target-well-information" name="target-well-information" accept=".xlsx"><br><br>
        <input type="submit" value="Upload and Launch">
    </form>
    <br>
    <a href="/projects" target="_blank">Click here to view projects</a> 
    <br><br>
    <a href="https://stevethomascpapublic.s3.amazonaws.com/target_well_information-TEMPLATE.xlsx" target="_blank">
        Download a copy of Target Well Information Template v1.6.x
    </a>
    <br><br>
    <b>Rrelease notes:</b>
    <p>Offset Well Identification spreadsheet</p>
    <ul>
        <li>Add LateralLength_FT and Effective_Perf_Interval</li>
    </ul>
    <p>Gun Barrel Plot</p>
    <ul>
        <li>Create new tab Well Information Table</li>
        <li>Create new tab Plot Data</li>
        <li>Combine Well Summary into revised Calculated Data Tab (see attached) and delete Well Summary tab</li>
        <li>Scale: 1.5 sections to the east of the reference (7920) and ½ section to the west (2640)</li>
        <li>Take off labels on the chart except the well ref number and landing zone identifier</li>
        <li>Add additional information to the table on the chart (just expand the plot to the right to accommodate)</li>
    </ul>
    <p>Cross Plot</p>
    <ul>
        <li>Add grid lines</li>
        <li>Change colors so they are different (assign permanent / same colors to landings zones per Michaels table)</li>
        <li>Add ref numbers on the spreadsheet well list and show number on the plot (in the dot).  Note: Put wells in alphabetical order by well name before numbering.</li>
    </ul>
</body>
</html>
